.container,
#git-hub {
  display: block;
}

.city,
.temperature-now,
#weather-description {
  font-weight: 700;
  margin: 0 auto;
}
.current-time,
.units,
.forecast,
#parameters {
  font-weight: 500;
}
.city,
.current-time {
  padding-left: 35px;
}
.cities,
.btn,
.forecast,
#current-parameters,
#git-hub {
  text-align: center;
}
.container {
  font-family: "Poppins", sans-serif;
  background-color: #e9ebee;
  margin: 80px auto;
  padding: 40px;
  border-radius: 12px;
  width: 750px;
}
.cities {
  margin: 0 auto;
  padding: 0 10px;
  color: blue;
  font-size: 15px;
}
.search-form {
  padding: 30px 40px 20px;
  max-width: 90%;
  margin: 0 auto;
}
.enter-city {
  border-radius: 8px;
}
.city {
  font-size: 46px;
  padding-top: 20px;
}
.current-time {
  font-size: 18px;
  font-weight: 500;
  padding-top: 5px;
}
#current-parameters {
  padding-top: 10px;
}
.emoji-now {
  font-size: 38px;
}
.temperature-now {
  font-size: 44px;
  padding-right: 35px;
}
.units {
  font-size: 14px;
  position: absolute;
  margin: 10px 0 0 -30px;
}
#weather-description {
  font-size: 22px;
}
#parameters {
  font-size: 12px;
}
.weather-app {
  padding: 0 30px;
}
.forecast {
  padding: 20px 0 0;
}
.emoji {
  font-size: 34px;
}
.day {
  font-size: 20px;
  font-weight: bold;
}
#git-hub {
  margin: -80px auto;
}
a:link {
  text-decoration: none;
}
